<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>about</h1>
    <h3><%= fave %></h3>
    <ul>
        <li><%= fave[0] %></li>
        <li><%= fave[1] %></li>
        <li><%= fave[2] %></li>
    </ul>
    </body>
</html>