<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>I wasn't sure if we were supposed to just write test html, or if we needed to fill these out.</p>
    <h1>Name: Lizz</h1>
    <h1>Favorite dog: all of them</h1>
    <h1>Favorite color: Black</h1>
    <h1>Favorite child: .... ... I love them both equally</h1>
</body>
</html>