<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Trains and planes and rains and pains</p>
    <h1> I have never had a blog</h1>
    <h2> I am not sure what goes into a blog</h2>
    <h3> If I had a blog, it would consist exclusively of pictures of baby animals</h3>
    <h4>Am I blogging right?</h4>
</body>
</html>